<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/online-services/static/css/style.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script>

</head>
<body>
    <div class="container">
        <sl-card class="card-header" x-data="{code: '{{ .code }}', error: '{{ .error}}' }" >
            <div slot="header">
                <h2 x-text="code"></h2>
            </div>
            <simple x-text="error"></simple>
        </sl-card>
    </div>
</body>
</html>
